<nav class="navbar navbar-dark bg-dark sticky-top">
  <%= link_to 'Calendar Sync', root_path, class: 'navbar-brand m-4' %>

  <% if user_signed_in? %>
    <ul class="navbar-nav ms-auto d-flex flex-row align-items-center">
      <li class="nav-item me-2">
        <%= link_to 'Calendars', calendars_path, class: 'btn btn-secondary m-4' %>
      </li>
      <% if current_user.calendars.any? %>
        <li class="nav-item me-2">
          <%#= link_to 'Fetch Events', calendar_events_path(current_user.calendars.first), class: 'nav-link m-4' %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-secondary m-4' %>
      </li>
    </ul>
  <% end %>
</nav>
